{% extends 'base.html'  %}

{% block content %}

<div class="container">
    <h1 class="display-1">{{ user.username }}</h1>
    <p class="lead">Let's learn more about {{ user.username }}.</p>

    <ul class="list-group">
        <li class="list-group-item list-group-item-action list-group-item-primary"><b>First Name:</b> {{ user.first_name }}</li>
        <li class="list-group-item list-group-item-action list-group-item-warning"><b>Last Name:</b> {{ user.last_name }}</li>
        <li class="list-group-item list-group-item-action list-group-item-info"><b>Email:</b> {{ user.email }}</li>
    </ul>
</div>

{% endblock %}